
      <div class="row">
        <div class="col-md-6">
          <h2>Swiggity Swooty</h2>
          <p>lemme get dat booty</p>
          <br />
          <img src="images/deer.jpg" alt="deer"/>
        </div>
        <div class="col-md-6">
          <h2>My life is dope</h2>
          <p>and i do dope shit</p>
          <br />
          <img src="images/dope.jpg" alt="dope"/>
        </div>
