<!doctype html>
<html>
  <head>
    <title>Index 3</title>
    <meta charset="UTF-8">
    <script src="js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-6">
          <h2>xXx420YoloSwag360n0Sc0peMountainDewBl4z3itxXx</h2>
          <p>5 ever</p>
          <br />
          <img src="images/suchskill.png" alt="doge"/>
        </div>
        <div class="col-md-6">
          <h2>First he was curious</h2>
          <p>now he's furious</p>
          <br />
          <img src="images/furiousgeorge.jpg" alt="george"/>
        </div>
      </div>

    </div>
  </body>
</html>
