
      <div class="row">
        <div class="col-md-6">
          <h2>xXx420YoloSwag360n0Sc0peMountainDewBl4z3itxXx</h2>
          <p>5 ever</p>
          <br />
          <img src="images/suchskill.png" alt="doge"/>
        </div>
        <div class="col-md-6">
          <h2>First he was curious</h2>
          <p>now he's furious</p>
          <br />
          <img src="images/furiousgeorge.jpg" alt="george"/>
        </div>
