
      <div class="row">
        <div class="col-md-6">
          <%
            timeDisplayMonth = @time.month
            timeDisplayYear = @time.year
          %>

          <h1>Holidays for <%= timeDisplayMonth  %>, <%= timeDisplayYear %></h1>

          <% @holidays.each do |holiday| %>
            <%= holiday[0]["name"] %></br>
          <% end %>

          <h1>Holidays for Brandon's Birthday month 2/24/1993</h1>

          <% @birthdayHolidays.each do |holiday| %>
            <%= holiday[0]["name"] %> </br>
          <% end %>

        </div>
      </div>
