<!doctype html>
<html>
  <head>
    <title>Index 1</title>
    <meta charset="UTF-8">
    <script src="js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid text-center">
      <%= yield %>
    </div>
  </body>
</html>
